<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <title>Restaurant tracker</title>
        <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="navbar navbar-fixed-top" th:fragment="header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">Restaurant tracker</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" th:href="@{/home}">Home</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="#" th:href="@{/favourites}">Favourites</a>
                        </li>

                    </ul>

                    <div id="input-container">
                        <form class="navbar-form navbar-left" method="post" th:action="@{/ranking}">
                            <div class="form-group">
                                <input type="text" id="form-control" placeholder="Where do you want to eat?"
                                       th:value="${providedLocation}" name="providedLocation">
                            </div>
                            <button type="submit" class="btn btn-primary" >Search</button>
                        </form>

                    </div>

                    <ul class="nav navbar-nav navbar-right">

                        <li sec:authorize="isAuthenticated()">
                            <a href="/user" th:href="@{/user}">
                                <span class="glyphicon" aria-hidden="true"></span> [[${session.loggedUser}]]
                            </a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a href="/registration" th:href="@{/registration}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                            </a>
                        </li>
                        <li >
                            <a sec:authorize="isAnonymous()" href="/login" th:href="@{/login}" onclick="$('#form').submit();">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Log in
                            </a>

                            <a sec:authorize="isAuthenticated()" href="/logout" th:href="@{/logout}" onclick="$('#form').submit();">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Log out
                            </a>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <hr>
    <br>
    <br>
    </body>
</html>