<!DOCTYPE html >
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Restaurant tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="row">
        <div th:insert="~{header :: header}"></div>
    </div>
    <br>
    <br>
        <h1> Best rated restaurants nearby: [[${session.location}]]</h1>


        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Cuisines</th>
                    <th scope="col">Address</th>
                    <th scope="col">Rating</th>
                    <th sec:authorize="isAuthenticated()" scope="col">Favourites</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant, iStat: ${restaurants}">
                <td th:text="${restaurant.getRestaurant().getName()}" />
                <td th:text="${restaurant.getRestaurant().getCuisines()}" />
                <td th:text="${restaurant.getRestaurant().getLocation().getAddress()}" />
                <td th:text="${restaurant.getRestaurant().getUserRating().getAggregateRating()}"></td>
                <td sec:authorize="isAuthenticated()"> <input type="checkbox"> Add to Favs  <td/>
            </tr>
            </tbody>
        </table>
</body>
</html>


