<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="navbar navbar-fixed-top" th:fragment="header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">Restaurant tracker</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li th:classappend="${module == 'home' ? 'active' : ''}">
                            <a href="#" th:href="@{/home}">Home</a>
                        </li>
                        <li th:classappend="${module == 'rank' ? 'active' : ''}">
                            <a href="#" th:href="@{/task}">Rank</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/signin" th:href="@{/registration}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                            </a>
                        </li>
                        <li>
                            <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Log in
                            </a>
                            <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>